/* @font-face {
  font-family: 'SFProDisplay';
  src:url('@/assets/fonts/SFPRODISPLAYBLACKITALIC.OTF') format('otf'),
      url('@/assets/fonts/SFPRODISPLAYBOLD.OTF') format('otf'),
      url('@/assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF') format('otf'),
      url('@/assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('otf'),
      url('@/assets/fonts/SFPRODISPLAYMEDIUM.OTF') format('otf'),
      url('@/assets/fonts/SFPRODISPLAYREGULAR.OTF') format('otf'),
      url('@/assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('otf'),
      url('@/assets/fonts/SFPRODISPLAYTHINITALIC.OTF') format('otf'),
      url('@/assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('otf');
  font-weight: normal;
  font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* SF Pro Display*/
@font-face {
  font-family: 'SFProDisplay';
  src: url('../src/assets/fonts/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
  font-weight: 900; /* Black */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../src/assets/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../src/assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
  font-weight: 800; /* Heavy */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../src/assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../src/assets/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../src/assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../src/assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
  font-weight: 600; /* SemiBold */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../src/assets/fonts/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
  font-weight: 100; /* Thin */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../src/assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
  font-weight: 200; /* UltraLight */
  font-style: italic;
}

/* Readex Pro */
@font-face {
  font-family: 'ReadexPro';
  src: url('../src/assets/fonts/ReadexPro-ExtraLight.ttf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'ReadexPro';
  src: url('../src/assets/fonts/ReadexPro-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ReadexPro';
  src: url('../src/assets/fonts/ReadexPro-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ReadexPro';
  src: url('../src/assets/fonts/ReadexPro-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ReadexPro';
  src: url('../src/assets/fonts/ReadexPro-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ReadexPro';
  src: url('../src/assets/fonts/ReadexPro-Bold.ttf') format('opentype');
  font-weight: 700; 
  font-style: normal;
}


:root {
  font-family: SFProDisplay, ReadexPro, RobotoCondensed, Roboto;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */


}
:root:root {
  --van-base-font: SFProDisplay, ReadexPro;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.card {
  padding: 2em;
}

#app {
  height: 100vh;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.divider {
  padding: 5px 0px;
  margin: 0px;
}

.flex_col {
  display: flex;
  flex-direction: column;
}
.flex_row {
  display: flex;
  flex-direction: row;
}

/* Стили для оверлеев должны переопределяться глобально,
 а не в самом компоненте */
.p-select-label {
  color: #fff!important;
}
.p-select-header {
  background-color: #151515!important;
}
.p-inputtext {
  background-color: #151515!important;
}
.p-select-list-container {
  background-color: #151515!important;
}
.p-select-list-option {
  background-color: #151515!important;
}
.p-select-option {
  background-color: #151515!important;
}
.p-select-option div{
  color: #ffffff!important;
}

.van-icon__image {
  height: 5em!important;
  width: 5em!important;
}


.filled_button {
  width: 100%;
  color: #000000;
  font-size: 1.3em;
  padding: 20px 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.bordered_button {
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  font-size: 1.3em;
  padding: 20px 10px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}
